# Practice Exercise: Cleaning data & Transforming columns/features

# Context:

* The data is based on real anonymized Czech bank transactions and account info.
* We'll be focusing on practicing the data cleaning, columns transformations, and other techniques that we've learned in the course.
* But here is the original task description of the dataset publishers:

The bank wants to improve their services. For instance, the bank managers have only vague idea, who is a good client (whom to offer some additional services) and who is a bad client (whom to watch carefully to minimize the bank losses). Fortunately, the bank stores data about their clients, the accounts (transactions within several months), the loans already granted, the credit cards issued. The bank managers hope to improve their understanding of customers and seek specific actions to improve services.

* We've made minor changes on the data to fit this exercise, such as changing the column names. Check out the original source if you are interested in using this data for other purposes (https://data.world/lpetrocelli/czech-financial-dataset-real-anonymized-transactions)

# Dataset Description:

We'll work on three datasets (in three separate csv files):

* account: each record describes static characteristics of an account
* transaction: each record describes one transaction on an account
* district: each record describes demographic characteristics of a district

In reality, the organizations like banks often have data stored in multiple datasets. Assume we want to study the transactional level data, we'll need to combine these three datasets together to have transactions data with account and district data.

# Objective:

* Examine/clean the individual dataset
* Combine them into a single dataset, which is subject to more cleaning
* Create new columns based on existing columns

By the end, the new dataset is ready for more analysis.

# 1. Import the libraries

In [4]:
import numpy as np
import pandas as pd

# 2. Import the data from three csv files as DataFrames account, district, trans

Hint:

* the read_csv function can automatically infer and load zip file, read its documentation of parameter compression if you are interested in details
* you may ignore the warning when reading the trans.csv.zip file. It is optional to follow the warning instructions to remove it.

In [6]:
df = pd.read_csv('account.csv')
df = pd.read_csv('district.csv')
df = pd.read_csv('trans.csv')
df

,trans_id,account_id,date,type,operation,amount,balance,k_symbol,bank,account
0,695247,2378,1/1/1993,PRIJEM,VKLAD,700.0,700.0,NaN,NaN,NaN
1,171812,576,1/1/1993,PRIJEM,VKLAD,900.0,900.0,NaN,NaN,NaN
2,207264,704,1/1/1993,PRIJEM,VKLAD,1000.0,1000.0,NaN,NaN,NaN
3,1117247,3818,1/1/1993,PRIJEM,VKLAD,600.0,600.0,NaN,NaN,NaN
4,579373,1972,1/2/1993,PRIJEM,VKLAD,400.0,400.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1048570,1106561,3779,12/19/1998,VYDAJ,VYBER,12200.0,59783.7,NaN,NaN,NaN
1048571,1109169,3787,12/19/1998,VYDAJ,VYBER,2600.0,81497.4,NaN,NaN,NaN
1048572,1109971,3789,12/19/1998,VYBER,VYBER,4900.0,44784.0,NaN,NaN,NaN
1048573,1110516,3791,12/19/1998,VYDAJ,VYBER,23500.0,60146.1,NaN,NaN,NaN
1048574,1110008,3789,12/19/1998,VYDAJ,VYBER,11100.0,33684.0,NaN,NaN,NaN

# 3. Look at the info summary, head of each DataFrame

# 4. Check for the unique values and their counts in each column for the three DataFrames

# 5. Check for duplicates in the three DataFrames

# 6. Convert column account_open_date in account and column date in trans into datetime dtypes

# 7. Convert the columns region and district_name in district to all uppercase

# 8. Check for missing data by columns in account using the isna method

# 9. Check for missing data by columns in district using the isna method

 district has numeric features that could have relationships with each other. Let's use iterative imputation on them.

Use IterativeImputer in sklearn to impute based on columns population, average_salary, unemployment_rate, num_committed_crimes

Import libraries

In [ ]:
df.info()
df.mean()
df.max()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 10 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   trans_id    1048575 non-null  int64
 1   account_id  1048575 non-null  int64
 2   date        1048575 non-null  object
 3   type        1048575 non-null  object
 4   operation   869912 non-null   object
 5   amount      1048575 non-null  float64
 6   balance     1048575 non-null  float64
 7   k_symbol    569929 non-null   object
 8   bank        273508 non-null   object
 9   account     295002 non-null   float64
dtypes: float64(3), int64(2), object(5)
memory usage: 80.0+ MB

Build a list of columns that will be used for imputation, which are population, average_salary, unemployment_rate, num_committed_crimes
These are the columns that might be related to each other

Create IterativeImputer object and set its min_value and max_value parameters to be the minumum and maximum of corresponding columns

Apply the imputer to fit and transform the columns to an imputed NumPy array

Assign the imputed array back to the original DataFrame's columns

Double check that the columns are imputed

10. Check for missing data by columns in trans using the isna method

Divide the columns into numeric columns and categorical columns, then use the fillna method to fill numeric columns with -999, fill categorical columns with 'UNKNOWN'

# 11. Check for outliers in district using the describe method, then look at the histograms of the suspicious columns

Explore the outliers in the dataset

# 12. Check for outliers in trans using the describe method, then look at the histograms of the suspicious columns

Explore the outliers in the dataset

The DataFrame account doesn't have any columns that could have outliers, so we are not exploring it.

# 13. Merge (left join) account and district into a new DataFrame called account_district using their common columns

# 14. Check the information summary of account_district, any missing data?

Look at the rows with missing data in account_district

Use SimpleImputer from sklearn to impute the missing data in columns population, average_salary, unemployment_rate, num_committed_crimes with their means

Use fillna method to impute the missing data in columns district_name and region with 'UNKNOWN'

# 15. Merge (left join) trans and account_district into a new DataFrame called all_data using their common columns

Check the information summary of all_data

# 16. Create a new column account_open_year and assign it as the year from column account_open_date

# 17. Calculate the difference between columns date (transaction date) and account_open_date

# 18. Create a new column account_age_days and assign it as the difference in days between columns date (transaction date) and account_open_date

# 19. Create a new column amount_category by cutting the column amount into 3 equal-sized bins, and label the bins as 'low_amount', 'medium_amount', 'high_amount'

Verify the categories and their counts in amount_category

# 20. Create a new column account_age_days_category by cutting the column account_age_days into 5 equal-width bins

Verify the categories and their counts in account_age_days_category

Print out the first 20 rows of all_data to look at the newly added columns